 ::-webkit-scrollbar {
   width: 8px;
 }

 ::-webkit-scrollbar-track {
   -webkit-box-shadow: auto;
   -webkit-border-radius: auto;
   border-radius: auto;
   background: black;
 }

 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #FF4D05;
   -webkit-box-shadow: auto;
 }

 *{
  scroll-behavior: smooth;
 }